*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Java Folders
out/
lib/
target/

# Build tools
.gradle/
node_modules
build/

# Specific IDE files
.idea/
*.iml
