<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="testData/testData.xml"/>

    <import resource="aspects.xml"/>

    <bean id="eventsService" class="es.ujaen.dae.ticketoverlord.services.EventsServiceImpl">
        <property name="events" ref="eventosTestData"/>
    </bean>

    <bean id="ticketsService" class="es.ujaen.dae.ticketoverlord.services.TicketsServiceImpl">
    </bean>

    <bean id="usersService" class="es.ujaen.dae.ticketoverlord.services.UsersServiceImpl">
        <property name="users" ref="usuariosTestData"/>
    </bean>

    <bean id="venuesService" class="es.ujaen.dae.ticketoverlord.services.VenuesServiceImpl">
        <property name="venues" ref="recintosTestData"/>
    </bean>

</beans>